@import 'src/assets/styles/variables';
@import 'src/assets/styles/animations';

.alert {
	width: 100%;
	background-color: #5be7c4;
	color: $dark-accent;
	margin-bottom: 1rem;
	animation: opacity 0.4s;
	padding: 10px;
	border-radius: 10px;
	border: $my-border;
	box-shadow: $my-bx;

	&.error {
		background-color: #a10061;
		color: $white;
	}
	&.info {
		background-color: #50c1e9;
	}
	&.waring {
		background-color: #f75940;
		color: $white;
	}
}
