@import 'src/assets/styles/variables';

.input {
	background-color: $dark-accent;
	border: $my-border;
	box-shadow: $my-bx;
	color: $white;
	font-size: 18px;
	padding: 14px;
	border-radius: 10px;
	margin-bottom: 0.7rem;
	outline: none;
	width: 100%;

	&:focus {
		background-color: lighten($accent, 5%);
	}

	&::placeholder {
		color: $white;
	}
}

.error {
	color: $error;
	font-size: 1.8rem;
	margin-bottom: 0.8rem;
}
