@import 'src/assets/styles/variables';

.button {
	box-shadow: $my-bx;
	border: $my-border;
	outline: none;
	font-size: 20px;
	border-radius: 10px;
	padding: 13px 48px;
	transition: opacity 0.15s ease;
	background-color: $dark-accent;
	cursor: pointer;
	color: $white;

	@media (max-width: $mobile) {
		font-size: 18px;
		padding: 12px 38px;
	}

	&:hover {
		opacity: 0.9;
	}
}

.wrapper {
	text-align: center;
}

.xx {
	padding: 15px 48px;
	font-size: 30px;
	border-radius: 13px;
}

.accent {
	background: $tmp-1-gradient;
}

.danger {
	background: #6491c9;
}
