@import './variables';

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	&:focus {
		outline: none;
	}

	font-family: $default-font;
	letter-spacing: 0.5px;
}

*::-webkit-input-placeholder {
	color: $white;
	opacity: 1;
}
*:-moz-placeholder {
	color: $white;
	opacity: 1;
}

*::-moz-placeholder {
	color: $white;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: $white;
	opacity: 1;
}
*:-webkit-autofill {
	background-color: $dark-accent;
	color: $white;
}

html,
body {
	min-height: 100%;
}

body {
	// background-color: $black;
	background: $my-bg2;

	padding: 0;
	margin: 0;
	color: #fff;
	font-size: 20px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
}

img {
	max-width: 100%;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

#root {
	min-height: 100%;
}

.dark-link {
	text-align: right;
	width: 100%;
	display: block;
	margin-bottom: 0.5rem;
	text-decoration: none;
	color: #7f55fe;
	transition: color 0.3s ease;

	&:hover {
		color: $tmp-acc-light;
	}
}

.wrapper-inner-page {
	padding: 40px 30px;
	text-align: center;
	max-width: 560px;
	width: 100%;
	margin: 0 auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	appearance: textfield;
}

.error {
	color: $error;
	font-size: 1rem;
}

.select2-selection {
	&__control {
		box-shadow: $my-bx !important;
		background-color: $dark-accent !important;
		border: $my-border !important;
		cursor: pointer !important;
		margin-bottom: 2rem;
		border-radius: 10px !important;
		min-height: 48px !important;
		color: $white;
		font-size: 18px;
		width: 100%;
		&--is-focused {
			border-color: transparent !important;
			box-shadow: 0 0 0 1px rgba($accent, 0.3) !important;
		}
	}

	&__menu {
		background-color: $dark-accent !important;
		border-radius: 10px !important;

		&-list {
			padding: 0 !important;
			border-radius: 10px !important;
		}

		&-notice {
			color: $some !important;
		}
	}

	&__option {
		&--is-focused {
			background-color: $accent !important;
		}
		&--is-selected {
			background-color: $accent !important;
		}
	}

	&__indicator,
	&__indicator:hover {
		color: $white !important;
	}

	&__placeholder {
		color: $some !important;
		margin-left: 6px !important;
		text-align: left;
	}

	&__single-value {
		color: $white !important;
	}

	&__multi-value {
		border-radius: 6px !important;
		background: $accent !important;

		&__label {
			color: $white !important;
		}

		&__remove:hover {
			background-color: $s2ome !important;
			color: $white !important;
		}
	}

	&__input {
		color: $white !important;
	}
}
